.checkbox {
    color: black;
}

.checkbox.checked {
    color: gray;
    text-decoration: line-through;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: #15caff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ShoppingList {
    background-color: #76e0ff;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70%;
    padding: 2rem;
}

.ListForm{
    background-color: #76e0ff;
    border-radius: 20px;
    border: #76e0ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Shopping{
    background-color: #76e0ff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.ListSelector{
    background-color: red;
}
.ItemList li:nth-child(even){
    background-color: #68b8ff;
}
.ItemList li:nth-child(odd){
    background-color: #b2eeff;
}
.Item{
    display: flex;
    align-items: center;      /* vertical alignment */
    justify-content: space-between; /* left text, right checkbox */
}
.NewList{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttonExport{
    background-color: #28a745;
    padding: 8px 14px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;

}
.buttonImport{
    background-color: #fd7e14;
    padding: 8px 14px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.buttonCreate{
    background-color: #17a2b8;
    padding: 8px 14px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.buttonAdd{
    background-color: #ffc107;
    padding: 8px 14px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
